body{
    background-color: rgb(233, 12, 12);
}

#reset{
    color: red;
    background-color: black;
    height: 50px;
    width: 50px;
    font-size: 10px;
}
p{
    color: goldenrod;
   font-size: 100px;
   align-items: flex-end;
}