body{
    background-color: rgb(233, 12, 12);
}

#reset{
    color: red;
    background-color: black;
    height: 50px;
    width: 50px;
    font-size: 10px;
}
p{
    color: goldenrod;
   font-size: 100px;
   align-items: flex-end;
}

#table{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

#inst{
    color: goldenrod;
    text-align: center;

}
#instruction{
    color: goldenrod;
    text-align: center;
}
